export(AR1_rho)
export(AR1_single_change)
export(OP)
export(PELT)
export(SN)
export(SVP)
export(smuce_theta_interval)
export(smuce_cost)
export(svp0)
export(svp_smuce)
export(svp_smuce_cpp)
export(ts_generator)
export(valid_AR1)
export(valid_FOCUS)
export(valid_FOCUS_last)
export(valid_OP)
export(valid_QUANTILE)
export(valid_RANGE)
export(valid_RANGE_SLACK)
export(valid_SCALE)
export(valid_SSE)
importFrom(Rcpp, evalCpp)
useDynLib(svpChange, .registration = TRUE)

importFrom("stats", "rbinom", "rexp", "rgeom", "rnbinom", "rnorm", "rpois")
importFrom("stats", "quantile")
